@{
    ViewData["Title"] = "Home Page";
}

<style>
    body, h1, h5 {
        font-family: "Raleway", sans-serif
    }

    body, html {
        height: 100%
    }

    .bgimg {
        background-image: url('https://unsplash.com/photos/green-and-brown-metal-tool-lx8CooX66ms');
        min-height: 100%;
        background-position: center;
        background-size: cover;
    }
</style>

    <div class="text-center">
        <h1 class="display-4">Welcome to eManagement</h1>
    </div>

    
 